@charset "utf-8";
/* 这个css是初始化的css，在任何项目里面都可以使用 */
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  -webkit-overflow-scrolling: touch;
  /* 解决IOS触摸时的颜色问题 */
  -webkit-tap-highlight-color: transparent;
  font-size: 13.33333333vw;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica Neue, Arial, sans-serif;
}
@media (min-width: 560px) {
  html {
    font-size: 54px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
input {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
/* 禁止缩放表单 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
  resize: none;
  border: none;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
}
/* 取消链接高亮  */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  color: #333333;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica Neue, Arial, sans-serif;
  background-color: #fff;
  line-height: 1.15;
  max-width: 640px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
  /* IOS禁止微信调整字体大小 */
  text-size-adjust: 100% !important;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
a {
  text-decoration: none;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica Neue, Arial, sans-serif;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
}
/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*两行溢出 手机端使用*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*三行溢出 手机端使用*/
.three-txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* 0.5px border */
.one_px_border_bottom,
.one_px_border_top,
.one_px_border_right,
.one_px_border_left {
  position: relative;
  z-index: 1;
}
.one_px_border_bottom:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: #e6e6e6;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}
.one_px_border_top:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #e6e6e6;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}
.one_px_border_left:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #e6e6e6;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}
.one_px_border_right:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background: #e6e6e6;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
[v-cloak] {
  display: none !important;
}
.Diffuse_shadow {
  position: relative;
}
.Diffuse_shadow:before {
  content: "";
  position: absolute;
  width: calc(100% - 0.4rem);
  height: 100%;
  background: linear-gradient(120deg, #9fa6b1 0%, #9fa6b1 80%);
  filter: blur(0.2rem) brightness(0.95);
  left: 0.2rem;
  top: 0;
  z-index: -1;
}
.gaussian {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
/* 适配iphonex 有底部横条的 */
