@charset "utf-8";
/* 这个css是初始化的css，在任何项目里面都可以使用 */
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  -webkit-overflow-scrolling: touch;
  /* 解决IOS触摸时的颜色问题 */
  -webkit-tap-highlight-color: transparent;
  font-size: 13.33333333vw;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
@media (min-width: 560px) {
  html {
    font-size: 54px;
  }
}
input {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
textarea {
  resize: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
/* 禁止缩放表单 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
  resize: none;
  border: none;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
}
/* 取消链接高亮  */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  color: #333333;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  background-color: #fff;
  line-height: 1.15;
  max-width: 640px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
  /* IOS禁止微信调整字体大小 */
  text-size-adjust: 100% !important;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
a {
  text-decoration: none;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
img {
  display: block;
  width: 100%;
}
/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*两行溢出 手机端使用*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*三行溢出 手机端使用*/
.three-txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* 0.5px border */
.one_px_border_bottom,
.one_px_border_top,
.one_px_border_right,
.one_px_border_left {
  position: relative;
  z-index: 1;
}
.one_px_border_bottom:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: #e6e6e6;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}
.one_px_border_top:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #e6e6e6;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}
.one_px_border_left:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #e6e6e6;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}
.one_px_border_right:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background: #e6e6e6;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}
.w50 {
  width: 50%;
}
.w25 {
  width: 25%;
}
.w20 {
  width: 20%;
}
.w33 {
  width: 33.333333%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block !important;
}
.dn {
  display: none !important;
}
[v-cloak] {
  display: none !important;
}
#app {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
}
#app::-webkit-scrollbar {
  display: none;
}
.Diffuse_shadow {
  position: relative;
}
.Diffuse_shadow:before {
  content: "";
  position: absolute;
  width: calc(100% - 0.4rem);
  height: 100%;
  background: linear-gradient(120deg, #9fa6b1 0%, #9fa6b1 80%);
  filter: blur(0.2rem) brightness(0.95);
  left: 0.2rem;
  top: 0;
  z-index: -1;
}
.gaussian {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.animated.fastest {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.common_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
i.icon_pop_close {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: url('../img/icon_pop_close.png') no-repeat;
  background-size: 100% 100%;
}
i.icon_pop_close3 {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background: url('../img/icon_pop_close3.png') no-repeat;
  background-size: 100% 100%;
}
i.icon_pop_close4 {
  display: block;
  width: 0.29rem;
  height: 0.29rem;
  background: url('../img/icon_pop_close4.png') no-repeat;
  background-size: 100% 100%;
}
i.icon_warning {
  display: block;
  width: 0.28rem;
  height: 0.24rem;
  background: url('../img/icon_warning.png') no-repeat;
  background-size: 100% 100%;
}
i.icon_search {
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  background: url('../img/icon_search.png') no-repeat;
  background-size: 100% 100%;
}
i.icon_search_close {
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  background: url('../img/icon_search_close.png') no-repeat;
  background-size: 100% 100%;
}
i.icon_logo_s {
  display: block;
  width: 0.54rem;
  height: 0.54rem;
  background: url('../img/logo_s.png') no-repeat;
  background-size: 100% 100%;
}
.tabbar_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 640px;
  height: 1.06rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: #ffffff;
  z-index: 9;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}
.tabbar_container .nav_item {
  width: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.tabbar_container .nav_item .nav_icon {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 0.1rem;
}
.tabbar_container .nav_item .name {
  font-size: 0.22rem;
  color: #666;
  margin-top: 0.1rem;
}
.tabbar_container .nav_item.active .name {
  color: #333;
}
.tabbar_container .nav_item.big {
  width: 1.2rem;
}
.tabbar_container .nav_item.big .nav_icon_big {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  margin: 0;
  background-size: 1.2rem 1.2rem;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ecc586;
  overflow: hidden;
}
.tabbar_container.skin_1 .nav_item.active .name {
  color: #FE5545;
}
.tabbar_container.skin_2 .nav_item.active .name {
  color: #5887EB;
}
.mint-msgbox-wrapper .mint-msgbox {
  width: 72%;
  font-size: 0.32rem;
  border-radius: 0.6em;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-header {
  padding: 0;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-header .mint-msgbox-title {
  color: #000;
  font-size: 0.34rem;
  font-weight: normal;
  background: #ECECEC;
  line-height: 0.36rem;
  padding: 0.28rem 0;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content {
  padding: 0.5rem 0 0.3rem 0;
  min-height: 0;
  border: none;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-message {
  color: #333;
  font-size: 0.3rem;
  font-weight: normal;
  box-sizing: border-box;
  padding: 0 0.3rem;
  text-align: left;
  line-height: 0.4rem;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-message > p {
  text-align: center;
  line-height: 0.4rem;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-message > p.multi_row {
  line-height: 0.5rem;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-message > p.left {
  text-align: left;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-message > p.pl15 {
  padding-left: 15%;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-message > p > span.sp {
  color: #fa8f2f;
  font-weight: 600;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-message > p > span.red {
  color: #DA4F4F;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-message > p > span.blue {
  color: #5887EB;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-message > p > a.link {
  color: #5887EB;
  font-size: 0.3rem;
  text-decoration: underline;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-message > h5 {
  font-size: 0.34rem;
  width: 100%;
  text-align: center;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-input {
  width: 92%;
  margin: 0 auto;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-input > input {
  background: #F2F2F2;
  width: 100%;
  font-size: 0.26rem;
  line-height: 0.46rem;
  text-align: center;
  color: #333;
  box-sizing: border-box;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-content .mint-msgbox-input > input::placeholder {
  color: #999;
  text-align: center;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-btns {
  height: 0.8rem;
  line-height: 0.8rem;
  border-top: 1px solid #e6e6e6;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-btns > button {
  line-height: 0.8rem;
  font-size: 0.28rem;
  box-sizing: border-box;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-btns .mint-msgbox-confirm.sure {
  background: #fff;
  color: #04be02;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-btns .mint-msgbox-confirm.del,
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-btns .mint-msgbox-cancel.del {
  background: #fff;
  color: #DA4F4F;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-btns .mint-msgbox-confirm.confirm {
  background: #fff;
  color: #5887EB;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-btns .mint-msgbox-confirm.confirm_orange {
  background: #fff;
  color: #FE5645;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-btns .mint-msgbox-confirm.tipConfirm {
  background: #0185f2;
  color: #fff;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-btns .mint-msgbox-cancel.cancel {
  background: #fff;
  color: #5887EB;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-btns .mint-msgbox-cancel.cancel_gray {
  background: #fff;
  color: #999;
}
.mint-msgbox-wrapper .mint-msgbox .mint-msgbox-btns .mint-msgbox-cancel.circle {
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
  width: 0.5rem;
  height: 0.5rem;
  background: url('../img/icon_pop_close2.png') no-repeat;
  background-size: 100% 100%;
}
.development_list {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.development_list .wait_box {
  padding: 0.3rem;
  border: 1px dashed #999;
  margin-top: 30%;
}
.development_list .wait_box > h5 {
  font-size: 0.32rem;
  line-height: 0.42rem;
  font-weight: 600;
  color: #999;
}
.mint-indicator {
  position: relative;
  z-index: 5000 !important;
}
.mint-indicator .mint-indicator-wrapper {
  z-index: 5500 !important;
}
.mint-indicator .mint-indicator-mask {
  z-index: 5000 !important;
}
.mint-toast {
  z-index: 6000 !important;
}
.list_end_tip {
  padding: 0.3rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.list_end_tip > h5 {
  font-size: 0.26rem;
  line-height: 0.46rem;
  color: #999;
  position: relative;
  z-index: 1;
}
.list_end_tip > h5:after {
  content: '~';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(100%, -50%, 0);
  font-size: 0.26rem;
  color: #999;
}
.no_data_tip {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no_data_tip > h5 {
  font-size: 0.26rem;
  line-height: 0.46rem;
  color: #999;
}
.no_data_tip > a.add_btn {
  box-sizing: border-box;
  width: 4.9rem;
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.32rem;
  font-weight: 600;
  color: #fff;
  background: #5887EB;
  border-radius: 0.4em;
  text-align: center;
  margin-top: 0.6rem;
}
.ewm_pop {
  position: fixed;
  width: 74.67%;
  left: 12.67%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.02rem 0 0.4rem 0;
  z-index: 1000;
  background: #fff;
  font-size: 0.32rem;
  border-radius: 0.4em;
}
.ewm_pop .cover {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 1.26rem;
  height: 1.26rem;
  box-sizing: border-box;
  border: 3px solid #fff;
  background: #CFCFCF;
  border-radius: 50%;
  overflow: hidden;
}
.ewm_pop .cover > img {
  display: block;
  width: 100%;
  height: 100%;
}
.ewm_pop .title {
  font-size: 0.44rem;
  color: #333;
  line-height: 0.48rem;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 0.3rem;
}
.ewm_pop .subtitle {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.3rem;
  font-size: 0.26rem;
  line-height: 0.46rem;
  color: #999;
  text-align: center;
  margin-top: 0.2rem;
}
.ewm_pop .ewm_box {
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 0.42rem;
  background: #CFCFCF;
  font-size: 0.32rem;
}
.ewm_pop .ewm_box > img {
  display: block;
  width: 100%;
  height: 100%;
}
.ewm_pop .tip {
  font-size: 0.3rem;
  line-height: 0.32rem;
  text-align: center;
  margin-top: 0.3rem;
  color: #999;
}
.ewm_pop .icon_pop_close {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 200%, 0);
}
.weixin_ewm_pop {
  width: 86.7%;
  position: fixed;
  left: 6.65%;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  box-sizing: border-box;
  border-radius: 0.3em;
  font-size: 0.32rem;
  z-index: 200;
}
.weixin_ewm_pop > h5.title {
  width: 90.7%;
  margin: 0 auto;
  font-size: 0.34rem;
  color: #333;
  padding: 0.3rem 0;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #E6E6E6;
}
.weixin_ewm_pop .ewm_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0.3rem 0;
  border-bottom: 1px solid #E6E6E6;
  position: relative;
}
.weixin_ewm_pop .ewm_box > .no_ewm_box {
  position: absolute;
  top: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.2rem;
  height: 4.2rem;
  line-height: 4.2rem;
  text-align: center;
  font-size: 0.28rem;
  background: #f2f2f2;
}
.weixin_ewm_pop .ewm_box > img {
  width: 4.1rem;
  height: 4.1rem;
  line-height: 4.1rem;
  font-size: 0.28rem;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}
.weixin_ewm_pop .ewm_box > p {
  color: #E2442A;
  font-size: 0.3rem;
  line-height: 0.5rem;
  margin-top: 0.1rem;
}
.weixin_ewm_pop .wx_number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0.3rem 0.4rem;
}
.weixin_ewm_pop .wx_number > h5 {
  font-size: 0.32rem;
  color: #666;
  font-weight: normal;
}
.weixin_ewm_pop .wx_number > a.copy_wx_btn {
  display: block;
  font-size: 0.3rem;
  height: 0.46rem;
  line-height: 0.46rem;
  color: #fff;
  background: linear-gradient(to right, #FF6601, #E1452A);
  box-sizing: border-box;
  padding: 0 0.4rem;
  border-radius: 2em;
  overflow: hidden;
}
.weixin_ewm_pop > i.icon_close {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 200%, 0);
  width: 0.5rem;
  height: 0.5rem;
  background: url('../img/icon_pop_close.png') no-repeat;
  background-size: 100% 100%;
}
#trial_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: none;
}
#trial_pop {
  position: fixed;
  width: 74.67%;
  left: 12.67%;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  z-index: 200;
  font-size: 0.32rem;
  border-radius: 0.4em;
  display: none;
}
#trial_pop > h5.title {
  width: 100%;
  box-sizing: border-box;
  border-top-right-radius: 0.4em;
  border-top-left-radius: 0.4em;
  font-size: 0.36rem;
  color: #333;
  background: #ececec;
  line-height: 0.46rem;
  padding: 0.26rem 0;
  text-align: center;
}
#trial_pop .msg_wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 0.3rem;
}
#trial_pop .msg_wrap .msg_item {
  font-size: 0.28rem;
  color: #333;
  text-align: center;
}
#trial_pop .msg_wrap .msg_item.trial_time > p {
  font-weight: bold;
  font-size: 0.36rem;
  color: #333;
  line-height: 0.56rem;
}
#trial_pop .msg_wrap .msg_item.trial_time > p > span.bold {
  color: #FF6600;
  font-size: 0.7rem;
}
#trial_pop .msg_wrap .msg_item.tip {
  font-size: 0.24rem;
  line-height: 0.34rem;
  color: #C8C8C8;
  margin-top: 0.1rem;
}
#trial_pop .btn_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}
#trial_pop .btn_wrap > a {
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.32rem;
  text-align: center;
  box-sizing: border-box;
}
#trial_pop .btn_wrap > a.cancel_btn {
  width: 43%;
  background: #F2F2F2;
  color: #666;
  border-bottom-left-radius: 0.4em;
}
#trial_pop .btn_wrap > a.confirm_btn {
  width: 57%;
  background: #FF6600;
  color: #fff;
  border-bottom-right-radius: 0.4em;
}
#trial_pop > i.icon_close {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 200%, 0);
  width: 0.5rem;
  height: 0.5rem;
  background: url('../img/icon_pop_close.png') no-repeat;
  background-size: 100% 100%;
}
.force_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.force_modal.transparent {
  background: transparent;
}
.force_modal .msg_box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.force_modal .msg_box .msg_item {
  font-size: 0.46rem;
  color: #999;
  line-height: 0.66rem;
  text-align: center;
}
.force_modal .msg_box .confirm_btn {
  display: block;
  width: 62%;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  background: #FF6600;
  color: #fff;
  border-radius: 0.4em;
  box-sizing: border-box;
  margin: 0.2rem auto;
  font-size: 0.32rem;
}
.trial_end_pop {
  position: fixed;
  width: 74.67%;
  left: 12.67%;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  z-index: 2000;
  font-size: 0.32rem;
  border-radius: 0.4em;
}
.trial_end_pop h5.title {
  font-size: 0.36rem;
  color: #999;
  line-height: 0.46rem;
  padding: 0.26rem 0;
  text-align: center;
  background: #ececec;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}
.trial_end_pop .msg_wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0.3rem 0.7rem 0.3rem;
}
.trial_end_pop .msg_wrap .msg_item {
  font-size: 0.36rem;
  line-height: 0.46rem;
  color: #333;
  text-align: center;
}
.trial_end_pop .msg_wrap .msg_item > span {
  color: #FF6600;
}
.trial_end_pop > a.confirm_btn {
  display: block;
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.32rem;
  font-weight: normal;
  background: #FF6600;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
.trial_end_pop > i.icon_close {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 200%, 0);
  width: 0.5rem;
  height: 0.5rem;
  background: url('../img/icon_pop_close.png') no-repeat;
  background-size: 100% 100%;
}
.container.blur {
  filter: blur(5px);
}
.bottom_statement_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background: #f2f2f2;
  padding: 0.2rem 0;
}
.bottom_statement_wrap.float {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottom_statement_wrap .statement_link_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom_statement_wrap .statement_link_wrap > a {
  color: #b6b6b6;
  font-size: 0.24rem;
  box-sizing: border-box;
  padding: 0.12rem 0.3rem 0.1rem 0.3rem;
  position: relative;
}
.bottom_statement_wrap .statement_link_wrap > a:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 0.24rem;
  background: #b6b6b6;
}
.bottom_statement_wrap .statement_link_wrap > a:nth-last-child(1):before {
  display: none;
}
.bottom_statement_wrap > a.copy_right {
  text-align: center;
  font-size: 0.24rem;
  color: #b6b6b6;
}
.bottom_statement_wrap > a.tip {
  text-align: center;
  font-size: 0.24rem;
  margin-top: 0.06rem;
  color: #b6b6b6;
}
.shade:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.28);
  z-index: 1;
}
#msg_pop_up {
  position: absolute;
  z-index: 9;
  width: 0.24rem;
  height: 0.24rem;
}
#msg_pop_up > i.icon_dot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 0.24rem;
  height: 0.24rem;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url("../../common/img/icon_dot.png");
  background-size: 100% 100%;
}
#msg_pop_up > h5.msg {
  position: absolute;
  z-index: 5;
  font-size: 0.24rem;
  color: #fff;
  padding: 0.1rem 0.2rem;
  background: rgba(0, 0, 0, 0.6);
  word-break: keep-all;
  border-radius: 0.4em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}
#msg_pop_up > h5.msg.bottom-left {
  left: 0.14rem;
  bottom: 0;
  transform: translate(-100%, 70%);
}
#msg_pop_up > h5.msg.bottom-right {
  right: 0.14rem;
  bottom: 0;
  transform: translate(100%, 70%);
}
#msg_pop_up > h5.msg.top-left {
  left: 0.14rem;
  top: 0;
  transform: translate(-100%, -70%);
}
#msg_pop_up > h5.msg.top-right {
  right: 0.14rem;
  top: 0;
  transform: translate(100%, -70%);
}
#web_top_nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 0.9rem;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
#web_top_nav > ul.nav_list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
}
#web_top_nav > ul.nav_list::-webkit-scrollbar {
  display: none;
}
#web_top_nav > ul.nav_list > li.nav_item {
  flex: none;
  font-weight: bold;
  margin-right: 1rem;
}
#web_top_nav > ul.nav_list > li.nav_item > a {
  height: 0.9rem;
  font-size: 0.3rem;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
#web_top_nav > ul.nav_list > li.nav_item:nth-last-child(1) {
  margin-right: 0;
}
#web_top_nav > ul.nav_list > li.nav_item:nth-child(1) {
  margin-left: 0.3rem;
}
#web_top_nav > ul.nav_list > li.nav_item.active {
  position: relative;
  z-index: 1;
}
#web_top_nav > ul.nav_list > li.nav_item.active:after {
  content: '';
  width: 0.42rem;
  height: 0.06rem;
  box-sizing: border-box;
  border-radius: 2em;
  background: #5887EB;
  position: absolute;
  bottom: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  box-shadow: 0 0.03rem 0.04rem 0 rgba(88, 135, 235, 0.4);
}
#web_top_nav > ul.nav_list > li.nav_item.active > a {
  font-size: 0.38rem;
  color: #5887EB;
}
#web_top_nav > ul.nav_list > li.empty {
  flex: none;
  width: 1px;
  height: 0.9rem;
}
#web_bottom_tools {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: -0.88rem;
  z-index: 5;
  height: 0.88rem;
  background: rgba(88, 135, 235, 0.8);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-left: 0.2rem;
  transition: all 1s ease;
}
#web_bottom_tools.visitor {
  bottom: -1.06rem;
  height: 1.06rem;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background: #F9F9F9;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
}
#web_bottom_tools.visitor.up {
  bottom: 0;
}
#web_bottom_tools.visitor > a.tool_btn {
  width: 33.333%;
  height: 100%;
  font-size: 0.32rem;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}
#web_bottom_tools.visitor > a.tool_btn > i.icon {
  width: 0.28rem;
  height: 0.28rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
#web_bottom_tools.visitor > a.tool_btn > span {
  margin-left: 0.1rem;
}
#web_bottom_tools.visitor > a.tool_btn.follow {
  color: #FF7A53;
}
#web_bottom_tools.visitor > a.tool_btn.follow > i.icon {
  margin-bottom: 0.02rem;
  background-image: url("../img/webBottomTool/icon_plus.png");
}
#web_bottom_tools.visitor > a.tool_btn.followed > i.icon {
  margin-bottom: 0.06rem;
  background-image: url("../img/webBottomTool/icon_menu.png");
}
#web_bottom_tools.visitor > a.tool_btn.leave_msg {
  position: relative;
  z-index: 1;
}
#web_bottom_tools.visitor > a.tool_btn.leave_msg:before,
#web_bottom_tools.visitor > a.tool_btn.leave_msg:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 1px;
  height: 0.38rem;
  background: #e6e6e6;
  transform: translateY(-50%) scaleX(0.5);
}
#web_bottom_tools.visitor > a.tool_btn.leave_msg:before {
  left: 0;
}
#web_bottom_tools.visitor > a.tool_btn.leave_msg:after {
  right: 0;
}
#web_bottom_tools.visitor > a.tool_btn.leave_msg > i.icon {
  background-image: url("../img/webBottomTool/icon_msg.png");
}
#web_bottom_tools.visitor > a.tool_btn.like > i.icon {
  background-image: url("../img/webBottomTool/icon_like.png");
}
#web_bottom_tools.visitor > a.tool_btn.liked {
  color: #FF7A53;
}
#web_bottom_tools.visitor > a.tool_btn.liked > i.icon {
  background-image: url("../img/webBottomTool/icon_like_ac.png");
}
#web_bottom_tools.visitor > a.tool_btn.reward_btn > i.icon {
  background-image: url("../img/webBottomTool/icon_reward.png");
}
#web_bottom_tools.mine.up {
  bottom: 1.06rem;
}
#web_bottom_tools.mine > span {
  font-size: 0.3rem;
  font-weight: normal;
  color: #fff;
}
#web_bottom_tools.mine > .tool_btn {
  font-size: 0.26rem;
  padding: 0.1rem 0.12rem;
  color: #5887EB;
  font-weight: normal;
  background-color: #fff;
  border-radius: 0.4em;
  margin-left: 0.1rem;
}
#web_bottom_tools .ml10 {
  margin-left: 0.1rem;
}
#web_member_group_tag_pop {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  min-height: 4.9rem;
  padding-bottom: 1.1rem;
  z-index: 999;
  transition: all 1s ease;
}
#web_member_group_tag_pop.up {
  bottom: 0;
}
#web_member_group_tag_pop > h5.title {
  font-size: 0.3rem;
  color: #333;
  font-weight: bold;
  padding: 0.3rem;
  text-align: left;
}
#web_member_group_tag_pop > h5.title > span {
  font-size: 0.3rem;
  color: #999;
  font-weight: normal;
}
#web_member_group_tag_pop .group_tag_list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 0.3rem;
  flex-wrap: wrap;
}
#web_member_group_tag_pop .group_tag_list .tag_item {
  flex: none;
  font-size: 0.24rem;
  color: #666;
  background: #f2f2f2;
  padding: 0.12rem 0.28rem 0.1rem;
  box-sizing: border-box;
  border-radius: 0.3em;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}
#web_member_group_tag_pop .group_tag_list .tag_item.selected {
  background: #5887EB;
  color: #fff;
}
#web_member_group_tag_pop .group_tag_list .tag_add {
  flex: none;
  font-size: 0.24rem;
  background: #f2f2f2;
  padding: 0.12rem 0.28rem 0.1rem;
  box-sizing: border-box;
  border-radius: 0.3em;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  color: #5887EB;
}
#web_member_group_tag_pop .btns {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.2rem 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e6e6;
}
#web_member_group_tag_pop .btns > a {
  width: 3.3rem;
  font-size: 0.32rem;
  padding: 0.18rem 0 0.16rem 0;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.4em;
}
#web_member_group_tag_pop .btns > a.cancel_btn {
  background: #F2F2F2;
  color: #999;
}
#web_member_group_tag_pop .btns > a.confirm_btn {
  background: #5887EB;
  color: #fff;
}
#web_member_group_tag_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: none;
}
#web_member_group_tag_modal.show {
  display: block;
}
/*# sourceMappingURL=base.css.map */